@import "../../../variables.less";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Flex item that takes remaining vertical space */
}

footer {
  color: aliceblue;
  background: linear-gradient(to right, rgb(5, 40, 70), #004e92);
  min-height: 80px;
  padding-top: 20px;
  width: 100%;
}

.footer-bottom {
  background-color: @footer-color-dark;
}

#link-color {
  color: #8f9296;
}

#footer-color {
  color: @footer-color;
}
